body {font: 14px/1.3em 'Open Sans', Arial, Verdana, Serif;}
html, body {width: 100vw; height: 100vh; margin: 0; padding: 0; overflow: hidden; background: #FFF;}
body {display: flex; flex-direction: column;}
#result {background: #434190; padding: 10px; height: 23px}
#save, #cancel {color: #fff; border-color:transparent; border-radius: 3px;}
#cancel {background-color: #6b7de3;}
#save {float: right; background-color: #69b97e}
#errors {display:none;background-color:#fcc;margin:0;padding:6px 30px}
#errors::before{content:'Error(s): ';font-size:larger;font-weight:bold}
#success {display:none;background: #3c3;color: #fff;padding: 6px 12px;}
#designer {flex: 1;}
.message-type-options, .header-type-options {display: none;}
#sections-tbl-body > tr {background-color: #EEE; padding: 3px; border-radius: 3px; margin-bottom: 6px; display: block; width: 95%;}
label.req::after {content:'*'; color:red}
#designer .sqd-theme-light.sqd-designer {background:#f9f9ff}
.sqd-step-editor {padding: 10px;}
.sqd-global-editor {padding: 10px;}
.sqd-smart-editor { max-height: calc(100vh - 43px); overflow-y: scroll;}
.sqd-smart-editor label {display: block; padding: 10px 0; font-weight: bold;}
.sqd-smart-editor input, .sqd-smart-editor select {width: 90%; padding: 6px; border: 1px solid #ccc; border-radius: 3px}
.sqd-smart-editor input[type^="checkbox"] {width: auto}
.sqd-smart-editor select.var-type, .sqd-smart-editor select#http-method{width:40%}
.sqd-smart-editor input.var-value, .sqd-smart-editor input#http-url {width:50%}
.sqd-smart-editor input.half-width-input {width:44%}
.sqd-smart-editor button {font-weight: bold; color: white; background: royalblue; border: transparent; border-radius: 3px;}
.sqd-smart-editor button:hover {opacity: 0.8;transition-duration: 0.2s;}
.sqd-smart-editor button:active {opacity: 1;filter:grayscale(0.2)}
.sqd-smart-editor button.danger {background-color: black; width: 1.5em; height: 1.5em;border-radius: 50%;}
.sqd-smart-editor button.save-btn {padding: 6px 12px; width: auto; height: auto; border-radius: 3px;}
.sqd-task-group.sqd-task-goto > rect.sqd-task-rect {fill: #fcc}
.sqd-task-group.sqd-task-goto > circle.sqd-output {display: none;}
